@{
    ViewData["Title"] = "Diary";

}
<head>
    <link rel="stylesheet" href="~/css/Page.css" />
</head>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="page odd" id="cover">My Diary</div>
<div class="page even" id="cover_back">Let's start ! </div>
<div class="page odd" id="content">This is where the content goes...</div>
<!--<div class="page even" id="content">Content for even page ?</div> -->
<a href="#" class="btn btn-info" role="button">NextPage</a>

<ul class="pagination">
    <li class=" active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
</ul>