@using NonFactors.Mvc.Grid;
@using LearningASPCORE.Extensions;
@model IEnumerable<DiaryModel>
<head>
    <link href="~/Grid/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script src="~/Grid/Scripts/MvcGrid/mvc-grid.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>

</body>
@(Html.Grid(Model).Build(columnn =>
{
    columnn.Add(Model => Model.DiaryTitle).Titled("Title");
    columnn.Add(Model => Model.Id).Titled("SecondTitle");
    columnn.Add(model => Html.ActionLink("PageNotFound", "PageDoesNotExist", "Diary", null, new { @class = "btn btn-primary btn-large" }));
    columnn.Add(model => Html.Grid(model.Pages).Build(columns => columns.Add(mod => mod.PageTitle).Titled("Page Title")));
}).Empty("No data found")
.Filterable())
