@model IEnumerable<PageModel>
<head>
    <link href="~/Grid/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
    
</head>
<body>
    <script src="~/Grid/Scripts/MvcGrid/mvc-grid.js"></script>
    <script>
         [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
                           new MvcGrid(element);
                       });
    </script>
</body>
@(Html.Grid(Model).Build(GridColumn  => {GridColumn.Add(Model => Model.PageTitle).Titled("Title");
    GridColumn.Add(Model => Model.Registration).Titled("Data");
})




